.bg {
    min-width: 300px;
    background: linear-gradient(125deg, #FC3F5F 0%, #7D61FF 100.32%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 15px;
}
.conteiner {
    max-width: 1346px;
    padding: 0 32px;
    margin: 0 auto;
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.80) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.30);
}

.head-nav.is-open {
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
}



.head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    gap: 32px;
}

.svg-flex {
    
}

.head-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}


.head-menu-svg-close{
    margin-left: auto;
    display: block;
}


.head-nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--write-title);
    z-index: 20;
    padding: 24px 24px 40px 40px;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
    background-color: #fff;
    
    
}

.is-open {
    visibility: visible;
    transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
    overflow: scroll;
}


.head-list-link {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    

}
.head-tel-menu{
    order: 3;
}

.head-menu-svg{
    fill: #E1E1E1;

    transition: fill 250ms ease-in-out;
}

.head-menu-svg:is(:hover, :focus){
fill: orange;
}

.head-list-link:is(:hover, :focus) {
    color: orange;
}

.head-link {
    display: inline-block;
    color: #24282E;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    padding: 13px 17px;
    border-radius: 999px;
    background: linear-gradient(93deg, #E1E1E1 8.37%, #FFF 99.95%);
    box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.08), 1px 1px 1px 0px rgba(135, 135, 135, 0.32) inset;
    order: 2;

}

.head-link:is(:hover, :focus) {
    color: orange;
}

.hero {
    padding-top: 151px;
    padding-bottom: 161px;
    text-align: center;
}


.hero-title {
    color: #F2F4F7;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text {
    color: #F2F4F7;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}

.hero-link {
    display: inline-block;
    font-family: Poppins;
    color: #FC40F4;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 92px;
    border-radius: 999px;
    border: 2px solid #FC40F4;
    margin-bottom: 32px;
}

.hero-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

@media screen and (min-width: 641px){
    .bg{
        padding: 125px 35px;
    }
}